{% extends '@AdminLTE/layout.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include '@AdminLTE/navigation/navigation.html.twig' %}
        {% include '@AdminLTE/aside/aside.html.twig' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% include'@AdminLTE/content/header.html.twig' %}
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    {% block content  '' %}
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        {% include '@AdminLTE/footer/footer.html.twig' %}
    </div>
{% endblock body %}