{% extends '@AdminLTE/layout.html.twig' %}

{% block body %}
    <div class="wrapper">
        {% include '@AdminLTE/navigation/navigation.html.twig' %}
        {% include '@AdminLTE/aside/aside.html.twig' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% include'@AdminLTE/content/header.html.twig' %}
            {% include'@AdminLTE/content/main.html.twig' %}
        </div>
        <!-- /.content-wrapper -->
        {% include '@AdminLTE/footer/footer.html.twig' %}
    </div>
{% endblock body %}