<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title '' %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body class="{% block body_class '' %}">
{% block body %}{% endblock %}
</body>
{% block javascripts %}{% endblock %}
</html>
